$Clr1  : #F5F7F8;
$Clr2  : #F4CE14;
$Clr3  : #495E57;
$Clr4  : #45474B;

$ClrDrk1  : #1E2022;    
$ClrDrk2  : #52616B;

$ClrLgh1 : #F4F4F2 ;
$ClrLgh2 : #E8E8E8;

$ClrGrn1  : #ADBC9F;
$ClrGrn2  : #436850;


