$htmlFontSize: 100%;
$bodyFontFamily: "Open Sans";
$bodyFontFamilyFallback: sans-serif;
$bodyFontSize: 0.875rem;
$bodyFontWeight: 400;
$bodyLineHeight: 1.5;
$formGap: 0.875rem;

$loginBorderRadus: 0.25rem;
